Examenes/2ExamenParcial/Ejercicio_1/WindowsFormsApp1/Connected Services/ServiceReference1/Operaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="pronostico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pronosticoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pronosticoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fechas">
        <s:complexType />
      </s:element>
      <s:element name="fechasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fechasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="pronosticoSoapIn">
    <wsdl:part name="parameters" element="tns:pronostico" />
  </wsdl:message>
  <wsdl:message name="pronosticoSoapOut">
    <wsdl:part name="parameters" element="tns:pronosticoResponse" />
  </wsdl:message>
  <wsdl:message name="fechasSoapIn">
    <wsdl:part name="parameters" element="tns:fechas" />
  </wsdl:message>
  <wsdl:message name="fechasSoapOut">
    <wsdl:part name="parameters" element="tns:fechasResponse" />
  </wsdl:message>
  <wsdl:portType name="OperacionesSoap">
    <wsdl:operation name="pronostico">
      <wsdl:input message="tns:pronosticoSoapIn" />
      <wsdl:output message="tns:pronosticoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fechas">
      <wsdl:input message="tns:fechasSoapIn" />
      <wsdl:output message="tns:fechasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OperacionesSoap" type="tns:OperacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="pronostico">
      <soap:operation soapAction="http://tempuri.org/pronostico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fechas">
      <soap:operation soapAction="http://tempuri.org/fechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OperacionesSoap12" type="tns:OperacionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="pronostico">
      <soap12:operation soapAction="http://tempuri.org/pronostico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fechas">
      <soap12:operation soapAction="http://tempuri.org/fechas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Operaciones">
    <wsdl:port name="OperacionesSoap" binding="tns:OperacionesSoap">
      <soap:address location="http://localhost:49703/Operaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="OperacionesSoap12" binding="tns:OperacionesSoap12">
      <soap12:address location="http://localhost:49703/Operaciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>